[submodule "filemanager"]
	path = filemanager
	url = https://github.com/openintents/filemanager
[submodule "Android-File-Manager"]
	path = Android-File-Manager
	url = https://github.com/nexes/Android-File-Manager
