[submodule "Android-File-Manager"]
	path = Android-File-Manager
	url = https://github.com/nexes/Android-File-Manager
[submodule "GoogleApps"]
	path = GoogleApps
	url = https://github.com/tobykurien/GoogleApps
[submodule "mBrowser/chelovek84"]
	path = mBrowser/chelovek84
	url = https://github.com/chelovek84/mBrowser
